body
{
	background-color: #303030;
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	font-size: 20px;
	margin: 0 !important;
}

.wrapper
{
	width: 1000px;
	margin-left:auto;
	margin-right:auto;
	
}

.rec
{
	width:100%;
	padding: 40px;
}

.logo
{
	width: 450px;
	font-size: 48px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}


.reclogowanie
{
	width: 400px;
	padding: 40px;
	margin-left:auto;
	margin-right:auto;
}

.kloceklog
{
	width: 250px;
	height: 50px;
	background-color: #562551;
	text-align: center;
	margin-left:auto;
	margin-right:auto;
}

.square
{
	width: 50%;
	float:left;
}

.tile
{
	margin: 10px;
	width: 230px;
	height: 140px;
	background-color: #3095d3;
	float: left;
	text-align: center;
}

.tile:hover
{
	background-color: #2084c2;
}

a.sociallink
{
	color: #ffffff;
	text-decoration: none;
	display: block;
	width: 250px;
	height: 155px;	
}

a.tilelink
{
	color: #ffffff;
	text-decoration: none;
	display: block;
	width: 230px;
	height: 140px;	
}

a.logolink
{
	color: #ffffff;
	text-decoration: none;
}

.goto
{
	margin: 10px;
	width: 210px;
	height: 60px;
	background-color: #3095d3;
	float: left;
	text-align: center;
	font-size: 20px;
	
}

.goto:hover
{
	background-color: #2084c2;
}




.okno
{
	width: 100%;
	background-color: #4668b3;
	margin: 10px;
	min-height: 300px;
	text-align: center;
}


.socials
{
	width:100%;
	text-align: center;
	background-color: #292929;
}

.socialdivs
{
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}

.fb
{
	width: 250px;
	height: 155px;
	float:left;
}

.fb:hover
{
	background-color: #4668b3;
}

.in
{
	width: 250px;
	height: 155px;
	float:left;
}

.in:hover
{
	background-color: #0077b5;
}

.git
{
	width: 250px;
	height: 155px;
	float:left;
}

.git:hover
{
	background-color: #6e5494;
}

.gplus
{
	width: 250px;
	height: 155px;
	float:left;
}

.gplus:hover
{
	background-color: #d95333;
}

.footer
{
	text-align: center;
	background-color: #222222;
	padding: 30px;
}

